@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar: 240 6% 10%;
  --surface: 222 47% 11%;
  --border: 217 33% 25%;
}

body {
  @apply bg-surface text-gray-100 antialiased;
}
