@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar: 240 6% 10%;
  --surface: 240 6% 6%;
  --border: 240 4% 16%;
}

body {
  @apply bg-surface text-gray-100 antialiased;
}
